@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');

@font-face {
  font-family: 'kanzn';
  src: url('/public/fonts/Al-Kanz.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.App {
  font-family: 'Noto Naskh Arabic', serif;
  text-align: center;
}

.background-pattern {
  background-image: url('/jameafront.svg');
  background-size: contain;
  background-repeat: repeat;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3); /* Stronger overlay */
  z-index: 1;
}

.background-content {
  position: relative;
  z-index: 10;
  padding: 2rem;
}

/* .centered-image {
  border-radius: 50%;
  overflow: hidden;
  width: 320px;
  height: 320px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
} */

.main-img {
  width: 100%;
  height: auto;
}